# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_store

# Virtual environments
.venv/
venv/
env/
ENV/
.venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code 
.vscode/ 
# PyCharm 
.idea/

# Misc Folders & Files
data/
output/
ref/
gui/image/rag_chatbot_flowchat.key
code/sfrc-chatbot.ipynb
code/sfrc-chatbot-cleaned_v2_improved_gpt_and_embeddings.ipynb 
README_old.md

# Streamlit
.streamlit